---
import IconMemory from './IconMemory.astro';
import IconReaction from './IconReaction.astro';
import IconVerbal from './IconVerbal.astro';
import IconVisual from './IconVisual.astro';

const ICONS = {
    memory: "memory",
    visual: "visual",
    reaction: "reaction",
    verbal: "verbal",
};

type ColorsBg = "red" | "orange" | "cyan" | "indigo"
type ColorsText = "red" | "orange" | "green" | "blue"

export interface Props {
	title: string;
    color: ColorsText;
    score: number;
    icon: keyof typeof ICONS;
    bgColor: ColorsBg;
}

const { title, color, score, icon, bgColor } = Astro.props;
---

<li class={`${bgColor === "red" && "bg-red-50"} ${bgColor === "orange" && "bg-orange-50"} ${bgColor === "cyan" && "bg-cyan-50"} ${bgColor === "indigo" && "bg-indigo-50"} flex gap-2 p-3 rounded-lg text-sm font-medium`}>
    {icon === ICONS.memory && <IconMemory />}
    {icon === ICONS.visual && <IconVisual />}
    {icon === ICONS.reaction && <IconReaction />}
    {icon === ICONS.verbal && <IconVerbal />}

    <p class={`${color === "red" && "text-[#F55]"} ${color === "orange" && "text-[#FFB21E]"} ${color === "green" && "text-[#00BB8F]"} ${color === "blue" && "text-[#1125D6]"}`}>{title}</p>
    <p class="ml-auto">{score} <span class="text-slate-400">/ 100</span></p>
</li>